* {
  margin: 0;
  padding: 0;
}
.scroll {
  overflow-y: scroll;
  height: 70vh;
}

.navigation {
  background-color: rgb(14, 58, 153);
  border-radius: 12px;
  margin-top: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: white;
}
li {
  color: black;
  padding: 10px;
}

li:hover {
  border: 2px solid rgb(14, 58, 153);
}

.details {
  width: 100%;
  padding: 25px;
}
